.link {
  padding: 10px;
  border-radius: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(191, 219, 254);
}

.active {
  color: rgb(23, 37, 84);
  background-color: rgb(191, 219, 254);
}
